.sub-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.sub-row {
  background-color: #f2f2f2;
}

.sub-row:hover {
  background-color: #ddd;
}

.sub-table th,
.sub-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.sub-table th:last-child,
.sub-table td:last-child {
  border-right: none;
}

.sub-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.sub-row.expanded .expand-button {
  transform: rotate(90deg);
}

.sub-expand-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Custom styles for editable input */
.editable-input {
  border: none !important; /* Remove the default border */
  padding: 0; /* Remove padding to match cell padding */
  font-size: inherit; /* Inherit font size from the parent */
  background: grey; /* Make the background transparent */
  width: 100%; /* Expand the input to fill the cell */
  text-align: center; /* Center-align the content within the cell */
  outline: none; /* Remove the outline when focused */
}
